  body {
      margin: 0;
      padding: 5;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
  }
  
  #map {
      width: 100%;   /* stretch full width */
      height: 100%;  /* fill screen height */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* optional */
      border-radius: 8px; /* optional */
  }